@model Pustok_Temp.ViewModels.HomeVM
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive pt-3">

                <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create</a>
                <a class="btn btn-primary" asp-controller="Category" asp-action="DeleteAll">Delete All</a>


                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Category Name
                            </th>
                            <th>
                                Book Count
                            </th>
                            <th>
                                Actions
                            </th>
           

                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.categories!=null){
                            @foreach (var item in Model.categories)
                            {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Books.Count


                                    </td>
                                    <td>
                                        <div style="display:inline-block">

                                            <a class="btn btn-primary" asp-controller="Category" asp-action="AddBook">Add Book</a>
                                            <a class="btn btn-primary" asp-controller="Category" asp-action="UpdateCategory" asp-route-id="@item.Id">Update Category</a>

                                            <a class="btn btn-primary" asp-controller="Category" asp-action="DeleteCategory" asp-route-id=@item.Id onclick="myFunction()">Delete</a>

                                            <script>
                                                function myFunction() {
                                                    alert("kateqoriya silindi");
                                                }
                                            </script>
                                            <script>
                                                function myFunction() {
                                                    let text;
                                                    if (confirm("Press a button!") == true) {
                                                        text = "You pressed OK!";
                                                    } else {
                                                        text = "You canceled!";
                                                    }
                                                    document.getElementById("demo").innerHTML = text;
                                                }
                                            </script>

                                        </div>
                                    </td>



                                </tr>
                            }
                        }
                    

 
         



                    </tbody>
                </table>


                <div style="margin-top:100px">

                    <div style="display:inline-block">
                <a class="btn btn-primary" asp-controller="Category" asp-action="DeleteAllBooks">Delete All Books</a>

                        <a class="btn btn-primary" asp-controller="Category" asp-action="AddBook">Add Book</a>


                    </div>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Book Name
                                </th>
                                <th>
                                    Category Id
                                </th>
                                 <th>
                                    Book Image
                                </th>
                                <th>
                                    Actions
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.books)
                            {

                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.CategoryId
                                    </td>
                                    <td>
                                        <div>
                                        <img src="~/image/products/@item.ImgUrl" style="width:60px; height:60px">
                                        </div>
     
                                    </td>

                                    <td>
                                        
                                        <div style="display:inline-block">

                                            <a class="btn btn-primary" asp-controller="Category" asp-action="UpdateBook" asp-route-id=@item.Id>Update Book</a>
                                            <a class="btn btn-primary" asp-controller="Category" asp-action="DeleteBook" asp-route-id=@item.Id>Delete</a>
                                        </div>


                                    </td>




                                </tr>
                            }

                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
</div>
